.actionButton {
	height: 24px;
    padding-top: 0;
}
.unacceptableRow {
	height: 28px;
}
.secondHeader {
	background-color: #EEEEEE;
}
.secondHeaderRow {
	height: 16px;
}
.workAbsent {
	background-color: lime;
}

.personalAbsent {
	background-color: lightgray;
}

.absentWidget {
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 100px;
    margin: 10px;
    float: left;
}

.absentWidgetPhoto {
	margin-left: 10px;
}

.absentWidgetText {
	text-align: center;
}

